<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property resource="application.yml" />
    <springProperty name="fileName" source="logger.filename"/>
    <springProperty name="destination" source="logger.destination"/>
    <springProperty name="path" source="logger.path"/>
    <springProperty name="level" source="logger.level"/>
    <springProperty name="loggerName" source="logger.name"/>
    <springProperty name="logstashUrl" source="logger.logstash.url"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <timestamp key="byStartDate" datePattern="yyyy-MM-dd'_'HH-mm-ss.SSS"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${path}${filename}_${byStartDate}.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n [%X{traceId:-}, %X{spanId:-}]</pattern>
        </encoder>
    </appender>
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logstashUrl}</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc />
                <context />
                <logLevel />
                <loggerName />
                <pattern>
                    <pattern>
                        {
                        "app": "test-log"
                        }
                    </pattern>
                </pattern>
                <threadName />
                <message />
                <logstashMarkers />
                <stackTrace />
            </providers>
        </encoder>
    </appender>
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="logstash" />
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="${loggerName}" level="${level}" additivity="false">
        <!--<appender-ref ref="${destination}" />-->
        <appender-ref ref="ASYNC" />
    </logger>
</configuration>